@import './styles/typography.css';
@import './styles/button.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


/* You can add global styles to this file, and also import other style files */
* {
    font-family: Inter;
    box-sizing: border-box;
    margin: none;
    padding: none
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

